In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [8]:
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row

### Create a PySpark DataFrame from a list of rows

In [9]:
df = spark.createDataFrame([
    Row(a=1, b=2, c='string1', d=date(2000,1,1), e=datetime(2000, 1,1,12,0)),
    Row(a=2, b=3, c='string2', d=date(2000,2,1), e=datetime(2000, 1,2,12,0)),
    Row(a=4, b=5, c='string3', d=date(2000,3,1), e=datetime(2000, 1,3,12,0))
])
df

DataFrame[a: bigint, b: bigint, c: string, d: date, e: timestamp]

### Create a PySpark DataFrame with an explicit schema

In [14]:
explicit_df = spark.createDataFrame([
    (1, 2., 'string1', date(2000,1,1), datetime(2000, 1,1,12,0)),
    (2, 3., 'string2', date(2000,2,1), datetime(2000, 1,2,12,0)),
    (3, 5., 'string3', date(2000,3,1), datetime(2000, 1,3,12,0))
], schema = 'a long, b double, c string, d date, e timestamp')
explicit_df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

### Create a PySpark DataFrame from a pandas DataFrame

In [17]:
pandas_df = pd.DataFrame({
    'a':[1,2,3],
    'b':[2.,3.,5.],
    'c':['string1','string2','string3'],
    'd':[date(2000,1,1), date(2000,2,1), date(2000,3,1)],
    'e':[datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)]
})
p_df = spark.createDataFrame(pandas_df)
p_df

/home/ictpuser/anaconda3/envs/py39/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/home/ictpuser/anaconda3/envs/py39/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [19]:
df.show()
df.printSchema()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|  2|string1|2000-01-01|2000-01-01 12:00:00|
|  2|  3|string2|2000-02-01|2000-01-02 12:00:00|
|  4|  5|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

root
 |-- a: long (nullable = true)
 |-- b: long (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

In [20]:
df.show(1)

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|  2|string1|2000-01-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+
only showing top 1 row